*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #222;
}
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(90deg, rgba(55,173,160,0.5887605042016807) 16%, rgba(46,80,120,1) 100%);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img{
    width: 16px;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 50px;
    font-weight: 500;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    align-items: center;
    display: flex;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}

.weather{
  display:none;
}

.background-properties {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.checkingName {
  text-align: left; /* Mengatur letak teks menjadi kiri */
  margin-top: 5px; /* Mengatur jarak atas */
  margin-bottom: 5px; /* Mengatur jarak bawah */
  padding-left: 10px; /* Mengatur jarak dari sisi kiri */
  display: none;
}

.time h2{
    margin-bottom: 10px;
    animation: colorChange 3s infinite;
}

@keyframes colorChange {
    0% {
      color: red;
    }
    50% {
      color: blue;
    }
    100% {
      color: green;
    }
  }

.warning h3{
    margin-top: 20px;
}

.clock {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: linear-gradient(180deg, rgba(2,90,178,1) 0%, rgba(143,78,218,0.13497899159663862) 100%);
    margin: 0 auto;
    margin-bottom: 20px;

  }
  
  .hour-hand, .minute-hand, .second-hand {
    position: absolute;
    background-color: #000;
    transform-origin: center bottom;
  }
  
  .hour-hand {
    width: 6px;
    height: 60px;
    top: 70px;
    left: 117px;
    border-radius: 6px 6px 0 0;
    transform: rotate(90deg);
  }
  
  .minute-hand {
    width: 4px;
    height: 80px;
    top: 50px;
    left: 117px;
    border-radius: 4px 4px 0 0;
    transform: rotate(90deg);
  }
  
  .second-hand {
    width: 2px;
    height: 90px;
    top: 39px;
    left: 120px;
    border-radius: 2px 2px 0 0;
    transform: rotate(90deg);
  }
  
  .center-circle {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 124px;
    left: 114px;
    border-radius: 50%;
    background-color: #000;
  }

